<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="grey">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li ><a  href="/">Home</a></li>
        <li ><a  href="{% url 'searchImages' %}">Search</a></li>
        <li>
        <form class="form-inline my-2 my-lg-0"class="navbar-form" role="search" action="{% url 'searchImages' %}" >
          <input class="form-control mr-sm-2" type="search" placeholder="Search for Image">
          <button class="btn btn-outline-success my-2 my-sm-10" type="submit" class="right">Search</button>
        </form>
      </li>

      </ul>
    </div>
  </div>
</nav>
</body>
</html>