{%extends 'index.html'%}
{%block content%}

<div class="container">
    <div class="row">
        <div class="col-sm-6">

            {% if images %}
      <h2>Found {{ images|length }} of searched word {{wurd}}</h2>
            {% else %}
      <h2>Found no images of searched word {{wurd}}</h2>
            {% endif %}
        </div>

    </div>

    <div class="row">
        {%if images %}
          {% for pic in images %}
      <div class="col-sm-6 col-md-3">
          <h3 style="color: rgb(29, 182, 144);">{{pic.image_name}} </h3>
          <img src="{{pic.image.url}}" style="width: 900px;">
      </div>
    {% endfor %}
      {% endif %}
        </div>
        
    </div>
{%endblock%}